<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <welcome-file-list>
    	<welcome-file>IndexSrv</welcome-file>
  </welcome-file-list>
  <!-- Customer registration -->
  <servlet>
		<servlet-name>CusInsertSrv</servlet-name>
		<servlet-class>servlet.CusInsertSrv</servlet-class>
  </servlet>
  
  <servlet-mapping>	
  		<servlet-name>CusInsertSrv</servlet-name>
  		<url-pattern>/CusInsertSrv</url-pattern>
  </servlet-mapping>
  
  <!-- Customer registration
  <servlet>
		<servlet-name>LogoutSrv</servlet-name>
		<servlet-class>servlet.LogoutSrv</servlet-class>
  </servlet>
  
  <servlet-mapping>	
  		<servlet-name>LogoutSrv</servlet-name>
  		<url-pattern>/LogoutSrv</url-pattern>
  </servlet-mapping>
   -->
</web-app>